<form class="row g-3" [formGroup]="form">
  <h1>Crear Cliente</h1>

  <div class="col-md-6">
    <label for="rutCliente" class="form-label">RUT</label>
    <input type="text" class="form-control" formControlName="rut" id="rutCliente" placeholder="11.111.111-1">
  </div>

  <div class="col-md-6">
    <label for="nombreCliente" class="form-label">Nombre/Razon</label>
    <input type="text" class="form-control" formControlName="nombre_razon" id="nombreCliente" placeholder="Juan Mecanico">
  </div>

  <div class="col-6">
    <label for="emailCliente" class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email_contacto" id="emailCliente" placeholder="Juan.Mecanico@gmail.com">
  </div>

  <div class="col-6">
    <label for="telefonoCliente" class="form-label">Telefono</label>
    <input type="text" class="form-control" formControlName="telefono" id="telefonoCliente" placeholder="+569 12345678">
  </div>

  <div class="col-6">
    <label for="direccionCliente" class="form-label">Direccion Facturacion</label>
    <input type="text" class="form-control" formControlName="direccion_facturacion" id="direccionCliente" placeholder="Calle siempre alegre">
  </div>

  <div class="col-6">
    <label for="estadoCliente" class="form-label">Estado</label>
    <select class="form-select" formControlName="estado" id="estadoCliente">
      <option value="">Seleccione</option>
      @for (e of estados; track e) {
        <option [value]="e">{{ e }}</option>
      }
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear Cliente</button>
  </div>
</form>
