<form class="row g-3">
  <div class="col-md-6">
    <label for="rutCliente" class="form-label">RUT</label>
    <input type="text" class="form-control" id="rutCliente" placeholder="11.111.111-1">
  </div>
  <div class="col-md-6">
    <label for="nombreCliente" class="form-label">Nombre/Razon</label>
    <input type="text" class="form-control" id="nombreCliente" placeholder="Juan Mecanico">
  </div>
  <div class="col-6">
    <label for="emailCliente" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailCliente">
  </div>
  <div class="col-6">
    <label for="telefonoCliente" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="+569 12345678">
  </div>
  <div class="col-6">
    <label for="direccionCliente" class="form-label">Direccion Facturacion</label>
    <input type="text" class="form-control" id="direccionCliente" placeholder="Calle siempre alegre">
  </div>
  <div class="col-6">
    <label for="estadoCliente" class="form-label">Estado</label>
    <input type="text" class="form-control" id="estadoCliente" placeholder="activo/inactivo">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Crear Cliente</button>
  </div>
</form>



