<form class="row g-3" [formGroup]="form" (ngSubmit)="guardar()">
  <h1>{{ esEdicion ? 'Editar Medidor' : 'Registrar Medidor' }}</h1>

  <!-- Código del Medidor -->
  <div class="col-md-6">
    <label for="codigoMedidor" class="form-label">Código del Medidor</label>
    <input
      type="text"
      class="form-control"
      id="codigoMedidor"
      formControlName="codigo_medidor"
      placeholder="Ej: M-001"
      required
    />
  </div>

  <!-- ID del Cliente -->
  <div class="col-md-6">
    <label for="idCliente" class="form-label">ID Cliente</label>
    <input
      type="text"
      class="form-control"
      id="idCliente"
      formControlName="id_cliente"
      placeholder="Ej: 1"
      required
    />
  </div>

  <!-- Dirección de suministro -->
  <div class="col-md-12">
    <label for="direccionSuministro" class="form-label">Dirección de Suministro</label>
    <input
      type="text"
      class="form-control"
      id="direccionSuministro"
      formControlName="direccion_suministro"
      placeholder="Ej: Calle Los Álamos #345"
      required
    />
  </div>

  <!-- Estado -->
  <div class="col-md-6">
    <label for="estadoMedidor" class="form-label">Estado</label>
    <select class="form-select" id="estadoMedidor" formControlName="estado" required>
      <option value="">Seleccione</option>
      @for (e of estados; track e) {
        <option [value]="e">{{ e }}</option>
      }
    </select>
  </div>

  <!-- Botón Guardar -->
  <div class="col-12 text-center mt-2">
    <button type="submit" class="btn btn-primary">
      {{ esEdicion ? '💾 Guardar Cambios' : 'Guardar Medidor' }}
    </button>
  </div>
</form>





