<table class="table">
  <thead>
  <tr>
    <th>RUT</th>
    <th>Nombre / Razón</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Direccion Facturación</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  </tbody>
</table>
