<table class="table">
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Cliente</th>
    <th>Direccion Suministro</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  </tbody>
</table>
