<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Cliente</th>
    <th>año,mes</th>
    <th>KWH Total</th>
    <th>Tarifa Base</th>
    <th>Cargos</th>
    <th>IVA</th>
    <th>Total a Pagar</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  <tr>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
    <th>Colocar contenido</th>
  </tr>
  </tbody>
</table>

